// =====================================
//
//   Config
//   -> defaults, settings
//
// =====================================

// -------------------------------------
//   @font-face
// -------------------------------------

// -------------------------------------
//   Colors
// -------------------------------------

// 350.org brand colors

$blue350: #0f81e8;
$orange350: #ffa902;
$red350: #ff6112;
$teal350: #40d7d4;
$white: #fff;
$lightGrey350: #e6f0fa;
$darkGrey350: #17292e;
$redBrown: #8d3618;
$darkGold: #8d801f;
$gold0: #f2efdf;
$blue0: #e7eff8;

// states
$blue350Darker: darken($blue350, 10%);
$orange350Darker: darken($orange350, 10%);

$blue350Transparent: rgba(15, 129, 232, 0.12);
$red350Transparent: rgba(255, 97, 18, 0.48);
$darkGoldTransparent: rgba(140, 128, 31, 0.48);
$blackTransparent: rgba(0, 0, 0, 0.64);

$grey0: #fafafa;
$grey1: #f4f4f4;
$grey2: #e0e0e0;
$grey3: #ccc;
$grey4: #a8a8a8;
$grey5: #818283;
$black: #000;
$clear: transparent;

// ----- Context Names ----- //

$c-background: $white;
$c-text: $darkGrey350;

// -------------------------------------
//   Base
// -------------------------------------

// ----- Typography ----- //

$b-serif-fontFamily: "Libre Baskerville", serif;
$b-sans-fontFamily: sans-serif;
$b-fontFamily: $b-serif-fontFamily;
$b-mono-fontFamily: "Courier New", monospace;
$b-fontSize: 1.6rem; // HTML
$b-fontSize-xs: 1.2rem;
$b-fontSize-s: 1.4rem;
$b-fontSize-l: 1.8rem;
$b-fontSize-xl: 2.5rem;
$b-fontSize-xxl: 3.2rem;
$b-fontSize-h1: 4.8rem;
$b-fontSize-xxxl: 12rem;
$b-fontSize-h2: $b-fontSize-xxl;
$b-fontSize-h3: $b-fontSize-xl;
$b-fontSize-h4: 2.4rem;
$b-lineHeight: 1.8;
$b-lineHeight-header: 1.25;

// ----- Border Radius ----- //

$b-borderRad-1: 3px;
$b-borderRad-2: 6px;
$b-borderRad-3: 12px;
$b-borderStyle: solid;

// ----- Border Width ----- //

$b-borderWidth-xs: 1px;
$b-borderWidth-s: 2px;
$b-borderWidth-m: 3px;

// ----- Sizing ----- //

$b-maxWidth: em(1600px);
$b-space-1: 0.5rem;
$b-space-2: 1rem; // v spacing, default type
$b-space-3: 1.5rem;
$b-space-4: 2rem; // gutter
$b-space-5: 3rem;
$b-space-6: 6rem;

// -------------------------------------
//   Components
// -------------------------------------

// ----- Grid ----- //

// Breakpoints

$g-xs: em(480px);
$g-s: em(768px);
$g-m: em(960px);
$g-l: em(1240px); // esp for single post layout

// ----- Image / Content elts ----- //

$img-width-s: em(128px);
$img-width-m: em(400px);

// -------------------------------------
//   Structures
// -------------------------------------
