// =====================================
//
//   350Brooklyn :: Parts per Million - HOME
//   -> theme styles
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

.graph-block {
  background-color: $blackTransparent;
}

.marquee-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-bottom: 3px solid $blackTransparent;
  overflow: hidden;

  .title-block {
    position: absolute;
    z-index: 3;
    display: flex;
    text-align: center;
    padding: $b-space-3;
    color: $white;
    flex-direction: column;
  }

  .site-title {
    font-size: $b-fontSize-xxxl;
    font-family: $b-fontFamily;
    margin-bottom: $b-space-1;
  }

  .site-description {
    font-size: $b-fontSize-xxl;
    font-family: $b-fontFamily;
    color: $red350;
    font-style: italic;
  }
}

// -------------------------------------
//   Media Queries
// -------------------------------------

// ----- MQ - < 959px ----- //

@media (max-width: $g-m) {
  // HOME
  .marquee-main,
  .marquee-main .slide-image,
  .marquee-main .cover-image-frame {
    height: 60vh;

    .site-title {
      font-size: $b-fontSize-h1;
    }

    .site-description {
      font-size: $b-fontSize;
    }
  }
}

// -------------------------------------
//   Scroll to Content
// -------------------------------------

// scroll to content

.scroll-to-content-btn {
  width: em(48px, 24px);
  height: em(48px, 24px);
  line-height: em(48px, 24px);
  text-align: center;
  font-size: $b-fontSize-xl;
  border-radius: 50%;
  background-color: rgba(255, 97, 18, 0);
  border: none;
  top: 100%;
  margin-top: em(-58px, 24px); // 48+10
  left: 50%;
  margin-left: em(-24px, 24px); // 48/2
  -webkit-animation: bounce 4s 2s infinite;
  animation: bounce 4s 2s infinite;
  transition: background-color 0.3s ease;
  position: absolute;
  z-index: 3;
  color: $red350Transparent;

  &:hover,
  &:focus {
    -webkit-animation: none;
    animation: bounce none;
    color: $red350;
  }
}

/* ==========================================================================
   Animations
   ========================================================================== */

@-webkit-keyframes bounce {
  0%,
  10%,
  25%,
  40%,
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  10%,
  25%,
  40%,
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
