// =====================================
//
//   350Brooklyn :: Parts per Million - HOME
//   -> theme styles
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

// Graph paper bg

.graph-block {
	background-color: $white;
	background-image: linear-gradient($blue350Transparent 1px, $clear 1px),
		linear-gradient(90deg, $blue350Transparent 1px, $clear 1px);
	background-size: 24px 24px, 24px 24px;
	background-position: -1px 0px;
}

.marquee-main {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	border-bottom: 3px solid $blue350Transparent;

	.title-block {
		position: absolute;
		z-index: 3;
		display: flex;
		text-align: center;
		padding: $b-space-3;
		flex-direction: column;
	}

	.site-title {
		font-size: $b-fontSize-xxxl;
		font-family: $b-mono-fontFamily;
		margin-bottom: $b-space-1;
	}

	.site-description {
		font-size: $b-fontSize-xl;
		color: $red350;
	}
}

// -------------------------------------
//   Media Queries
// -------------------------------------

// ----- MQ - < 959px ----- //

@media (max-width: $g-m) {
	// HOME
	.marquee-main,
	.marquee-main .slide-image,
	.marquee-main .cover-image-frame {
		height: 60vh;

		.site-title {
			font-size: $b-fontSize-h1;
			font-family: $b-mono-fontFamily;
			margin-bottom: $b-space-1;
		}

		.site-description {
			font-size: $b-fontSize-l;
			color: $red350;
		}
	}
}

// -------------------------------------
//   Scroll to Content
// -------------------------------------

// scroll to content

.scroll-to-content-btn {
	width: em(48px, 24px);
	height: em(48px, 24px);
	line-height: em(48px, 24px);
	text-align: center;
	font-size: $b-fontSize-xl;
	border-radius: 50%;
	background-color: rgba(255, 97, 18, 0);
	border: none;
	top: 100%;
	margin-top: em(-58px, 24px); // 48+10
	left: 50%;
	margin-left: em(-24px, 24px); // 48/2
	-webkit-animation: bounce 4s 2s infinite;
	animation: bounce 4s 2s infinite;
	transition: background-color 0.3s ease;
	position: absolute;
	z-index: 3;
	color: $red350;

	&:hover,
	&:focus {
		-webkit-animation: none;
		animation: bounce none;
		background-color: rgba(255, 97, 18, 0.32);
	}
}

/* ==========================================================================
   Animations
   ========================================================================== */

@-webkit-keyframes bounce {
	0%,
	10%,
	25%,
	40%,
	50% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	20% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	30% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

@keyframes bounce {
	0%,
	10%,
	25%,
	40%,
	50% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	20% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	30% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

// -------------------------------------
//  Stories Feed
// -------------------------------------

.home-feed-item {
	display: flex;
	padding-bottom: $b-space-5;
	margin-bottom: $b-space-5;
	border-bottom: 1px dotted $blue350Transparent;

	.story-info {
		font-family: $b-fontFamily;
		margin-right: $b-space-4;

		.feed-story-title {
			font-size: $b-fontSize-l;
			margin-bottom: $b-space-1;
		}

		.contributor-info {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin: 0 $b-space-4 $b-space-4 0;
			font-family: $b-mono-fontFamily;

			.contributor-thumbnail {
				flex: 0 0 36px;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				overflow: hidden;
				margin-right: $b-space-2;
				background-color: $blue350Transparent;
			}
		}
	}

	.story-thumbnail {
		flex: 0 0 90px;
	}

	@media (min-width: $g-xs) {
		.story-thumbnail {
			flex: 0 0 120px;
		}
	}

	@media (min-width: $g-m) {
		padding-bottom: $b-space-6;
		margin-bottom: $b-space-6;

		.story-info {
			.feed-story-title {
				font-size: $b-fontSize-h2;
			}
		}

		.story-thumbnail {
			flex-basis: 240px;
		}
	}
}
