// =====================================
//
//   350Brooklyn :: Parts per Million - HOME
//   -> theme styles
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   Layout
// -------------------------------------

.col-flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: $b-space-6;

  .main-col,
  .side-col {
    flex: 1 0 100%;
  }

  @media (min-width: $g-s) {
    .main-col {
      flex: 1;
    }

    .side-col {
      flex: 0 0 360px;
    }
  }
}

.graph-block {
  background-color: $blackTransparent;
}

.marquee-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  border-bottom: 3px solid $blackTransparent;
  overflow: hidden;

  .title-block {
    flex: 1;
    display: flex;
    text-align: center;
    padding: $b-space-3;
    color: $white;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: $b-space-6;
    gap: 15vh;
  }

  .heading-block {
    .site-title {
      font-size: $b-fontSize-xxxl;
      font-family: $b-fontFamily;
      margin-bottom: $b-space-1;
    }

    .site-description {
      font-size: $b-fontSize-xxl;
      font-family: $b-fontFamily;
      color: $red350;
      font-style: italic;
    }
  }

  // special callout
  .callout {
    position: relative;
    text-align: left;
    background-color: $blue0;
    padding: $b-space-3 $b-space-3 $b-space-3 $b-space-5;
    width: 88%;
    margin: 0 auto;
    border-radius: $b-borderRad-2;
    box-shadow: 0 0 8px 2px hsla(0, 0%, 40%, 0.24);
    display: flex;
    gap: $b-space-2;
    align-items: flex-end;
    text-decoration: none;
    color: $c-text;

    .burst {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      margin-top: -24px;
      margin-left: -72px;
      width: 96px;
      height: 96px;
      border-radius: 50%;
      padding: $b-space-3;
      background-color: $blue350;
      color: $white;
      text-align: center;
      justify-content: center;
      align-items: center;
      transform: rotateZ(-30deg);
      box-shadow: 0 0 8px 2px hsla(0, 0%, 40%, 0.24);

      h5 {
        font-family: $b-mono-fontFamily;
        font-size: $b-fontSize;
        font-weight: 500;
      }
    }

    .callout-message {
      flex: 1 1 auto;

      h4 {
        font-weight: 500;
        font-size: $b-fontSize-l;
        color: $blue350Darker;
      }
      p {
        font-size: $b-fontSize-s;
        font-family: $b-sans-fontFamily;
        line-height: $b-lineHeight-header;
        font-weight: bold;
        border-radius: 16px;

        .cta-mobile {
          display: none;
          color: $blue350;
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }

    .cta-block {
      text-align: right;
      flex: 1 0 98px;

      .btn-block {
        display: inline-block;
        font-size: $b-fontSize-xs;
        padding: 0 $b-space-2;
        line-height: 2;
        background-color: $blue350;
        color: $white;
        font-weight: 600;
        border-radius: $b-borderRad-3;
      }
    }
  }
}

// -------------------------------------
//   Media Queries
// -------------------------------------

// ----- MQ - < 959px ----- //

@media (max-width: $g-m) {
  // HOME
  .marquee-main,
  .marquee-main .slide-image,
  .marquee-main .cover-image-frame {
    height: 76vh;

    .title-block {
      gap: 5vh;
    }

    .heading-block {
      .site-title {
        font-size: $b-fontSize-h1;
      }

      .site-description {
        font-size: $b-fontSize;
      }
    }

    .callout {
      padding: $b-space-3;
      max-width: 98%;

      .burst {
        display: none;
      }

      .callout-message {
        h4 {
          font-size: $b-fontSize;
        }
        p {
          font-size: $b-fontSize-xs;

          .cta-mobile {
            display: inline-block;
          }
        }
      }

      .cta-block {
        display: none;
      }
    }
  }
}

// -------------------------------------
//   Scroll to Content
// -------------------------------------

// scroll to content

.scroll-to-content-btn {
  width: em(48px, 24px);
  height: em(48px, 24px);
  line-height: em(48px, 24px);
  text-align: center;
  font-size: $b-fontSize-xl;
  border-radius: 50%;
  background-color: rgba(255, 97, 18, 0);
  border: none;
  top: 100%;
  margin-top: em(-58px, 24px); // 48+10
  left: 50%;
  margin-left: em(-24px, 24px); // 48/2
  -webkit-animation: bounce 4s 2s infinite;
  animation: bounce 4s 2s infinite;
  transition: background-color 0.3s ease;
  position: absolute;
  z-index: 3;
  color: $red350Transparent;

  &:hover,
  &:focus {
    -webkit-animation: none;
    animation: bounce none;
    color: $red350;
  }
}

/* ==========================================================================
   Animations
   ========================================================================== */

@-webkit-keyframes bounce {
  0%,
  10%,
  25%,
  40%,
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  10%,
  25%,
  40%,
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
