// =====================================
//
//   350Brooklyn :: Parts per Million
//   -> Single Page styles
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   Modules
// -------------------------------------

// ----- HEADER AREA ----- //

.page-header {
  padding-top: $b-space-4;

  .page-title-block {
    padding: 0 $b-space-4;

    .page-title {
      margin-bottom: $b-space-2;
    }

    .page-intro {
      font-size: $b-fontSize-l;
      margin-bottom: $b-space-2;
      width: 100%;
      max-width: 600px;
      color: $darkGold;

      p {
        font-family: $b-sans-fontFamily;
        line-height: $b-lineHeight-header;
      }
    }
  }

  .featured-image-frame {
    border-top: 3px solid $darkGold;
    overflow: hidden;

    &.has-image {
      aspect-ratio: 16 / 9;
    }

    & > img {
      object-fit: cover;
    }
  }

  @media (min-width: $g-l) {
    .page-title-block {
      padding: 0;
    }
  }
}

// ----- MAIN CONTENT AREA ----- //

.page-layout-main {
  display: flex;
  flex-direction: column;
  gap: $b-space-6;

  .page-sidebar {
    flex: 0 0 auto;
  }

  .page-body {
    flex: 1;
  }

  @media (min-width: $g-m) {
    flex-direction: row;

    .page-sidebar {
      flex-basis: 360px;
    }
  }
}

// -------------------------------------
//  Footer
// -------------------------------------

.footer {
  position: relative;
  z-index: 2;
  background: $darkGrey350;
}

.footer-content {
  color: $lightGrey350;
  padding: $b-space-6 $b-space-4;

  a {
    color: $teal350;
    text-decoration: none;
    transition: all 300ms ease;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  .footer-content-inner {
    display: flex;
    flex-direction: column;
    gap: $b-space-6;

    @media (min-width: $g-m) {
      flex-direction: row;
      .site-info {
        flex: 0 0 30%;
      }
    }
  }

  .site-links {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: $b-space-5;
  }

  // Footer Navigation
  .links-col {
    h5 {
      color: $white;
      font-weight: 700;
    }
  }

  .footer-nav {
    .footer-menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-family: $b-sans-fontFamily;
      font-size: $b-fontSize-s;

      li {
        &:not(:last-of-type) {
          margin-bottom: $b-space-1;
        }
      }
    }
  }
}

// 350Brooklyn logo

.logo-350bk a {
  display: inline-block;
  width: 180px;
  height: 24px;
  background: url("images/logo-350brooklyn.svg") no-repeat $clear center center;
  background-size: contain;
}

// -------------------------------------
//  Special: Theme page
// -------------------------------------

.current-issue-cta {
  position: relative;
  background-color: $gold0;
  padding: $b-space-4;
  border-radius: $b-borderRad-3;

  .callout-open {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -$b-space-4;
    margin-right: $b-space-4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $b-space-3;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: $blue350;
    color: $white;
    text-align: center;
    font-size: $b-fontSize-s;
    line-height: $b-lineHeight-header;
    transform: rotateZ(15deg);
    box-shadow: 0 0 8px 2px hsla(0, 0%, 40%, 0.24);
  }

  h2 {
    border-bottom: 1px dotted $darkGold;
  }

  a:link,
  a:active,
  a:visited {
    color: $darkGold;
  }
}

.kicker {
  display: block;
  font-family: $b-sans-fontFamily;
  color: $darkGold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.instructions {
  font-family: $b-sans-fontFamily;
}
