// =====================================
//
//   350Brooklyn :: Parts per Million
//   -> Single Page styles
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   Modules
// -------------------------------------

// ----- HEADER AREA ----- //

.page-header {
  padding: $b-space-4 0;

  .page-title-block {
    padding: 0 $b-space-4;

    .page-title {
      margin-bottom: $b-space-2;
    }

    .page-intro {
      font-size: $b-fontSize-l;
      margin-bottom: $b-space-5;
      width: 100%;
      max-width: 600px;
      color: $redBrown;

      p {
        font-family: $b-sans-fontFamily;
        line-height: $b-lineHeight-header;
      }
    }
  }

  .featured-image-frame {
    border-top: 3px solid $red350;
    overflow: hidden;
    aspect-ratio: 16 / 9;

    & > img {
      object-fit: cover;
    }
  }

  @media (min-width: $g-l) {
    .page-title-block {
      padding: 0;
    }
  }
}

// ----- MAIN CONTENT AREA ----- //

.page-layout-main {
  display: flex;
  flex-direction: column;
  gap: $b-space-6;

  .page-sidebar {
    flex: 0 0 auto;
  }

  .page-body {
    flex: 1;
  }

  @media (min-width: $g-m) {
    flex-direction: row;

    .page-sidebar {
      flex-basis: 360px;
    }
  }
}

// -------------------------------------
//  Footer
// -------------------------------------

.footer {
  position: relative;
  z-index: 2;
  background: $darkGrey350;
}

.footer-content {
  color: $lightGrey350;
  padding: $b-space-6 $b-space-4;

  a {
    color: $teal350;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $red350;
    }
  }

  .footer-content-inner {
    display: flex;
    flex-direction: column;
    gap: $b-space-6;

    @media (min-width: $g-m) {
      flex-direction: row;
      .site-info {
        flex: 0 0 30%;
      }
    }
  }

  .site-links {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: $b-space-5;
  }

  // Footer Navigation
  .links-col {
    h5 {
      color: $white;
      font-weight: 700;
    }
  }

  .footer-nav {
    .footer-menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-family: $b-sans-fontFamily;
      font-size: $b-fontSize-s;

      li {
        &:not(:last-of-type) {
          margin-bottom: $b-space-1;
        }
      }
    }
  }
}

// 350Brooklyn logo

.logo-350bk a {
  display: inline-block;
  width: 180px;
  height: 24px;
  background: url("images/logo-350brooklyn.svg") no-repeat $clear center center;
  background-size: contain;
}
