// =====================================
//
//   350Brooklyn :: Parts per Million
//   -> theme styles
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

$logoIcoHeight: em(24px);
$logoIcoWidth: em(24px);

// -------------------------------------
//   Global
// -------------------------------------

// ----- Ico ~ PPM ----- //

.ico-ppm {
  display: block;
  width: $logoIcoWidth;
  height: $logoIcoHeight;
  background: url("images/logo-ppm-square-350red.svg") $clear no-repeat top
    center;
  background-size: contain;
  opacity: 0.88;
}

// z-index stack

.main {
  position: relative;
  background-color: $white;
  z-index: 2;

  .page-template-front-page & {
    background: $darkGrey350;
  }

  .marquee-main {
    position: relative;
    z-index: 2;
  }

  .page-content-area {
    position: relative;
    z-index: 3;
    background-color: $white;
  }

  .word-cloud {
    background: $clear;
    color: $clear;
    text-shadow: 0 0 2px $blue350;
    font-size: $b-fontSize-xl;
    font-family: $b-mono-fontFamily;
    padding: $b-space-4;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    line-height: $b-lineHeight;
    overflow: hidden;
    z-index: 1;

    @media (max-width: $g-m) {
      font-size: $b-fontSize-l;
    }
  }
}

.header-bar {
  color: $lightGrey350;
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 0;
  left: 0;

  // relative parent for header content

  .header-bar-context {
    position: relative;
    padding: $b-space-2 $b-space-4;
  }

  .overlay {
    position: absolute;
    z-index: 1;
    background: $redBrown;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease;
  }

  .bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .logo.home-link,
  .header-bar-block {
    height: $logoIcoHeight;
    line-height: $logoIcoHeight;
  }

  // home link
  .home-link {
    display: flex;
    color: $red350;
    align-items: center;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: $b-mono-fontFamily;
    font-weight: 300;
    font-size: $b-fontSize;

    // branding
    .ico-ppm {
      margin-right: $b-space-1;
    }
  }

  .header-bar-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $b-space-2;
  }

  // menu button, search toggle button
  .menu-btn,
  .search-toggle-btn {
    padding: 0 $b-space-2;
    display: inline-block;
    font-size: $b-fontSize-s;
    font-family: $b-sans-fontFamily;
    font-weight: 300;
    line-height: em(28px, 14px);
    vertical-align: middle;
    background-color: $clear;
    color: $blue350;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: $b-borderRad-1;
    border: 1px solid $clear;
    transition: all 0.3s ease;

    &:focus,
    &:hover {
      border-color: $blue350;
    }
  }
}

// Responsive Logo Area
// PPM / name

.header-bar {
  .xs--ppm-show {
    display: block;
  }

  .xs--ppm-hide.home-label,
  .xs--ppm-hide.menu-label {
    display: none;
  }

  @media (min-width: $g-xs) {
    .xs--ppm-show {
      display: none;
    }

    .xs--ppm-hide.home-label {
      display: block;
    }

    .xs--ppm-hide.menu-label {
      display: inline-block;
    }
  }
}

// ----- Only on pages without front-page hero area ----- //
.header-spacing {
  width: 100%;
  position: relative;
  height: 48px;
}

// ----- Layers ----- //

.scaffold-inner {
  position: relative;
  z-index: 2;
  min-height: 100%;
  background: $white;
  transition: transform 0.3s ease;
}

// overlay - for when nav drawer is open

.menu-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $blackTransparent;
  top: 0;
  left: 0;
  z-index: 1;
}

// ----- Global Nav ----- //

.nav-open {
  overflow: hidden;

  .site-nav-block {
    overflow: auto;
    transform: translate3D(0, 0, 0);
  }

  .scaffold-inner {
    height: 100vh;
    overflow: hidden;
    transform: translate3D(em(-240px), 0, 0);
  }

  .menu-overlay {
    display: block;
    z-index: 9;
  }
}

// SEARCH OVERLAY

.search-widget-open {
  overflow: hidden;

  .scaffold-inner {
    height: 100vh;
    overflow: hidden;
  }

  .search-overlay {
    display: block;
    z-index: 10;
  }
}

// -------------------------------------
//   Base
// -------------------------------------

// -------------------------------------
//   Scaffolding - Nav - Container
// -------------------------------------

// -------------------------------------
//   Global Navigation
// -------------------------------------

.site-nav-block {
  color: $white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: em(240px);
  background: $black;
  transition: transform 0.3s ease, opacity 0s ease 0s;
  padding: $b-space-4;
}

.site-nav-wrapper {
  position: relative;
}

.global-nav > ul {
  @extend .list-reset;
  font-size: $b-fontSize;
  padding: $b-space-5 0;
  font-family: $b-sans-fontFamily;

  li {
    margin-bottom: $b-space-4;
  }

  li > a {
    color: $grey3;
    text-decoration: none;
    border: none;

    &:hover,
    &:focus {
      color: $teal350;
    }

    &[aria-current="page"] {
      color: $red350;
    }
  }
}

.close-menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -$b-space-1;
  margin-right: -$b-space-1;
  color: $grey3;
  font-size: $b-fontSize-l;
  text-align: center;
  border: none;

  &:hover,
  &:focus {
    color: $red350;
  }
}
