// =====================================
//
//   350Brooklyn :: Parts per Million
//   -> search styles
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

// caption ahead of search results listings
.search-results-summary {
  color: $blue350;
  font-family: $b-mono-fontFamily;
}

// -------------------------------------
//   Form
// -------------------------------------

form[role="search"] {
  position: relative;
  display: flex;
  gap: $b-space-2;

  label {
    flex: 1;

    input[type="search"] {
      display: block;
      width: 100%;
      border: 3px solid $blue350Transparent;
      padding: 0 $b-space-4;
      font-size: $b-fontSize-xl;
      line-height: $b-lineHeight;
      border-radius: $b-borderRad-2;
      font-family: $b-mono-fontFamily;

      &::placeholder {
        color: $blue350;
      }

      &:focus {
        outline: 0;
        background-color: $lightGrey350;
        border-color: $blue350;
      }
    }
  }

  input[type="submit"] {
    flex: 0 0 60px;
    border: none;
    background-color: $blue350;
    color: $white;
    font-size: $b-fontSize-l;
    line-height: 48px;
    padding: 0 $b-space-3;
    border-radius: $b-borderRad-2;

    &:focus,
    &:hover {
      background-color: $blue350Darker;
    }
  }
}

// ----- Search Widget ----- //

.search-overlay {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: $darkGrey350;

  .search-widget-inner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .overlay-header {
      color: $teal350;
      font-family: $b-sans-fontFamily;
      font-weight: bold;
    }

    .search-form-block {
      flex: 0 1 640px;
      padding: $b-space-5;
    }

    .close-search-btn {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $clear;
      color: $white;
      font-size: $b-fontSize-l;
      margin-right: $b-space-5;
      margin-top: $b-space-5;
      text-transform: uppercase;

      b {
        font-size: $b-fontSize-xl;
      }
    }

    // 🔍 submit button
    .search-form {
      .search-submit {
        font-size: 1px;
        color: $clear;
        padding: 0 $b-space-2;
        flex-basis: 60px;
        background: url("images/ico-search.svg") no-repeat $blue350 center
          center;
        background-size: 50%;
      }
    }
  }
}
