// =====================================
//
//   350Brooklyn :: Parts per Million
//   -> Single Story / Post styles
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

$authorImgSize: 60px;

// -------------------------------------
//   Modules
// -------------------------------------

// ----- HEADER AREA ----- //

.entry-header-wrapper {
  height: 60vh;
  display: block;
  position: relative;
  background-color: $darkGrey350;

  .entry-header,
  .featured-image-frame {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .featured-image-frame {
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;

    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  .entry-header {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $white;
    padding: $b-space-4;
    background-color: $blackTransparent;

    .single-post-med {
      display: block;
      color: $teal350;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: $b-space-2;
    }

    .entry-title {
      font-size: $b-fontSize-xl;
      margin-bottom: 0;
    }

    .subheading {
      display: block;
      padding: 0 $b-space-4;
      line-height: $b-lineHeight-header;
      margin-top: $b-space-2;
      font-family: $b-fontFamily;
      font-style: italic;
      color: $grey3;

      &::before {
        content: "–";
        display: inline-block;
        margin-right: $b-space-1;
      }
    }
  }

  // caption (optional)
  .cover-caption-block {
    position: absolute;
    z-index: 3;
    top: 100%;
    right: 0;
    margin-top: $b-space-2;
    margin-right: $b-space-4;

    .cover-image-caption {
      font-size: $b-fontSize-s;
      font-family: $b-sans-fontFamily;
      text-align: right;
      color: $redBrown;

      a:link,
      a:active,
      a:visited {
        color: $redBrown;
      }
    }
  }

  // wide viewport
  @media (min-width: $g-m) {
    height: 100vh;
    display: flex;

    // No hero image
    .entry-header {
      flex: 1;
      padding: $b-space-5;
      background-color: $clear;

      .entry-title {
        font-size: $b-fontSize-h1;
      }

      .subheading {
        font-size: $b-fontSize-h4;
      }
    }

    // has hero image
    &.has-hero-image {
      .entry-header,
      .featured-image-frame {
        top: inherit;
        left: inherit;
        width: auto;
      }

      .entry-header {
        position: relative;
        flex-basis: 50%;
      }

      .featured-image-frame {
        flex: 1 1 50%;
      }
    }
  }
}

// ----- MAIN CONTENT AREA ----- //

.post-layout-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $b-space-5;

  .entry-meta,
  .post-body,
  .entry-sidebar {
    max-width: 640px;
    margin: 0 auto;
  }

  @media (min-width: $g-l) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: $b-space-6;

    .entry-meta,
    .entry-sidebar,
    .post-body {
      margin: 0;
    }

    .entry-meta,
    .entry-sidebar {
      flex: 1 1 240px;
      max-width: 240px;
    }

    .entry-meta {
      position: sticky;
      top: 64px;
    }
  }
}

// POST META - top or sidebar L

.entry-meta {
  .meta-section {
    line-height: $b-lineHeight-header;

    &:not(:last-of-type) {
      padding-bottom: $b-space-4;
      margin-bottom: $b-space-4;
      border-bottom: 1px solid $lightGrey350;
    }
  }
  .post-date {
    .post-meta {
      display: block;
      font-family: $b-mono-fontFamily;

      &:not(:last-of-type) {
        padding-bottom: $b-space-3;
        margin-bottom: $b-space-3;
        border-bottom: 1px dotted $lightGrey350;
      }
    }
  }

  .contributor-block {
    .contributor-byline {
      display: flex;
      align-items: center;
      gap: $b-space-2;
      margin-bottom: $b-space-2;

      .contributor-thumbnail {
        flex: 0 0 $authorImgSize;
        border-radius: 50%;
        overflow: hidden;
        width: $authorImgSize;
        height: $authorImgSize;
        background-color: $grey1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .contributor-name {
        font-size: $b-fontSize-l;
      }
    }

    .contributor-bio {
      font-size: $b-fontSize-s;
      font-family: $b-sans-fontFamily;
      line-height: $b-lineHeight;
      color: $grey5;

      a {
        color: $blue350;
      }
    }
  }
}

// ----- POST CONTENT ----- //

.post-body {
  // drop cap
  & > p:not(.stan-block):first-child:first-letter {
    color: $red350;
    float: left;
    font-family: $b-fontFamily;
    font-size: 5em;
    line-height: 0.64;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
  }

  // poem
  .stan-block {
    .stan-line {
      display: inline-block;
      width: 100%;
      padding-left: 1.5em;
      text-indent: -1.5em;
    }
  }

  .post-image-inline {
    margin-bottom: $b-space-5;

    .inline-image-frame .paper-frame {
      background: $white;
      padding: $b-space-4;
      padding-bottom: 20%;
      border-radius: 3px;
      box-shadow: 0 0 8px 2px hsla(0, 0%, 40%, 0.24);
    }

    img {
      display: block;
      width: 100%;
      object-fit: contain;
    }
  }

  @media (min-width: $g-l) {
    .post-image-inline .inline-image-frame {
      &.wide-format {
        margin-left: -$b-space-5;
        margin-right: -$b-space-5;
      }

      .paper-frame {
        padding-top: $b-space-5;
        padding-left: $b-space-5;
        padding-right: $b-space-5;
      }
    }
  }
}

// ----- POST NAVIGATION AREA ----- //

// Prev / Next nav

.post-content-footer {
  border-top: 1px solid $lightGrey350;

  .post-footer-nav {
    .nav-links {
      display: flex;
      flex-wrap: wrap;
      gap: $b-space-5;
      justify-content: center;
      align-items: flex-start;
    }

    .nav-links > div {
      flex: 1 0 240px;

      &.nav-previous {
        text-align: left;
      }

      &.nav-next {
        text-align: right;
      }

      a {
        display: flex;
        text-decoration: none;
        gap: $b-space-2;
        align-items: center;
        color: $blue350;

        .footer-nav-label {
          flex: 1;
          margin: 0;

          .kicker {
            display: block;
            margin-bottom: $b-space-1;
            font-size: $b-fontSize-xs;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $darkGrey350;
          }
        }

        .ico-footer-link {
          flex: 0 0 24px;
          width: 24px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          border-radius: 50%;
          color: $white;
          background-color: $blue350;
        }
      }
    }
  }
}
