// =====================================
//
//   350Brooklyn :: Parts per Million
//   -> Single Page / Post styles
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   Modules
// -------------------------------------

// ----- HEADER AREA ----- //

.entry-header-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  border-bottom: 1px solid $darkGrey350;

  .entry-header {
    flex: 0 1 50%;
    height: 100%;
    padding: $b-space-4;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: $darkGrey350;
    color: $white;
  }

  .single-post-medium {
    display: block;
    color: $teal350;
    margin-bottom: $b-space-2;
  }

  .featured-image-frame {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;

    img {
      display: block;
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $g-m) {
    height: 60vh;
    display: block;

    .entry-header,
    .featured-image-frame {
      display: block;
      width: 100%;
      height: 100%;
    }

    .entry-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      z-index: 2;
      background-color: $clear;
    }

    .featured-image-frame {
      position: relative;
      z-index: 1;
      overflow: hidden;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// ----- MAIN CONTENT AREA ----- //

.post-layout-main {
  display: flex;
  gap: $b-space-6;

  .entry-meta,
  .entry-sidebar {
    flex: 0 0 280px;
  }

  .post-body {
    flex: 1;
  }

  @media (max-width: $g-m) {
    flex-direction: column;

    .entry-meta,
    .entry-sidebar {
      flex-basis: auto;
    }
  }
}

.entry-meta {
  .meta-section {
    line-height: $b-lineHeight-header;

    &:not(:last-of-type) {
      padding-bottom: $b-space-4;
      margin-bottom: $b-space-4;
      border-bottom: 1px solid $lightGrey350;
    }
  }
  .post-date {
    .post-meta {
      display: block;
      font-family: $b-mono-fontFamily;

      &:not(:last-of-type) {
        padding-bottom: $b-space-3;
        margin-bottom: $b-space-3;
        border-bottom: 1px dotted $lightGrey350;
      }
    }
  }

  .contributor-block {
    display: flex;
    align-items: flex-start;

    .contributor-thumbnail {
      flex: 0 0 48px;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      background-color: $grey1;
    }

    .contributor-info {
      flex: 1;
      margin-left: $b-space-2;

      .contributor-name {
        font-size: $b-fontSize-l;
        display: block;
        margin-bottom: $b-space-1;
      }

      .contributor-bio {
        font-size: $b-fontSize-s;
        font-family: $b-sans-fontFamily;
        color: $grey5;
        line-height: $b-lineHeight-header;
      }
    }
  }
}

// ----- POST CONTENT ----- //

.post-body {
  // paragraph 1
  p:first-child {
    font-size: 1.25em;
  }

  // drop cap
  p:first-child:first-letter {
    color: $red350;
    float: left;
    font-family: $b-fontFamily;
    font-size: 5em;
    line-height: 0.64;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
}

// ----- POST NAVIGATION AREA ----- //

.entry-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .post-footer-nav {
    .nav-links > div {
      &:not(:first-of-type) {
        margin-top: $b-space-5;
      }
      &.nav-previous {
        text-align: left;
      }

      &.nav-next {
        text-align: right;
      }

      a {
        display: flex;
        text-decoration: none;
        gap: $b-space-1;

        .nav-title {
          flex: 1;
        }

        .ico-footer-link {
          flex: 0 0 24px;
          width: 24px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          border-radius: 50%;
          background-color: $red350Transparent;
        }
      }
    }
  }
}
