// -------------------------------------
//   WayPoints
// -------------------------------------

.scroll-down {
  .header-bar {
    // home link
    .home-link {
      color: $white;
    }

    // menu button
    .menu-btn,
    .search-toggle-btn {
      color: $white;

      &:focus,
      &:hover {
        border-color: $white;
      }
    }
  }
}

.scroll-down {
  .header-bar {
    box-shadow: 0 1px 3px 1px hsla(0, 0%, 40%, 0.24);
    .overlay {
      opacity: 1;
    }
  }
}
