// -------------------------------------
//   WayPoints
// -------------------------------------

.scroll-down {
	.header-bar {
		// home link
		.home-link {
			color: $blue350;
		}

		// menu button
		.menu-btn {
			color: $blue350;

			&:focus,
			&:hover {
				border-color: $blue350;
			}
		}
	}
}

.scroll-down {
	.header-bar .overlay {
		opacity: 0.64;
	}
}
