// -------------------------------------
//   Form elements
// -------------------------------------

button,
input[type="submit"] {
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

button {
  display: inline-block;
  text-align: center;
  font-size: $b-fontSize-s;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms ease;
}

.button {
  padding: 0 $b-space-2;
  color: $white;
  font-weight: bold;
  font-size: $b-fontSize-s;
  line-height: 2;
  border-radius: $b-borderRad-1;
  background-color: $blue350;

  &:focus,
  &:hover {
    background-color: $blue350Darker;
  }
}

.close-btn {
  line-height: 1;
  background-color: $clear;
  padding: $b-space-1;
  color: inherit;
}
