// =====================================
//
//   350BK :: Parts Per Million - CATEGORIES
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//  Categories Feed
// -------------------------------------

.categories-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $b-mono-fontFamily;

  .category-list-item {
    display: inline-block;
    margin: 0 $b-space-2 $b-space-2 0;

    .category-link {
      display: block;
      line-height: $b-lineHeight;
      text-decoration: none;
      background-color: $grey1;
      color: $darkGrey350;
      transition: all 300ms ease;

      .cat-name,
      .cat-count {
        display: inline-block;
        padding: 0 $b-space-2;
      }

      .cat-count {
        color: $grey5;
        border-left: 2px dotted $white;
        transition: all 300ms ease;
      }

      &:hover,
      &:focus {
        background-color: $teal350;
      }
    }
  }

  &.list-xl {
    .category-list-item {
      display: block;
      margin: 0 0 $b-space-5;

      .category-link {
        display: flex;
        font-size: $b-fontSize-xl;

        .cat-name,
        .cat-count {
          padding: 0 $b-space-4;
        }

        .cat-name {
          flex: 1;
        }

        .cat-count {
          flex: 0 0 auto;
        }
      }
    }

    @media (min-width: $g-m) {
      .category-list-item {
        .category-link {
          font-size: $b-fontSize-xxl;
        }
      }
    }
  }
}
