// =====================================
//
//   350BK :: Parts Per Million - FEED
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//  Stories Feed
// -------------------------------------

.posts-feed {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-medium {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: $darkGrey350;
  color: $white;
  font-family: $b-mono-fontFamily;
  line-height: $b-lineHeight;
  padding: 0 $b-space-1;
  font-size: $b-fontSize-xs;
  letter-spacing: 1px;
  transition: all 300ms ease;
}

.home-feed-item {
  position: relative;

  &:hover {
    .post-medium {
      background: $red350;
    }
  }
}

.feed-item-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  gap: $b-space-5 $b-space-4;
  padding: $b-space-5 0;

  .story-info {
    font-family: $b-fontFamily;
    flex: 1 1 auto;

    .feed-story-title {
      font-weight: 700;
      font-size: $b-fontSize-h3;
      margin-bottom: $b-space-1;

      a {
        transition: all 300ms ease;
        color: $darkGrey350;
      }
    }

    .contributor-info {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: $b-space-4;
      font-family: $b-mono-fontFamily;
      margin-bottom: $b-space-4;

      .contributor-thumbnail {
        flex: 0 0 36px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
        background-color: $grey1;

        img {
          object-fit: cover;
        }
      }
    }
  }

  .story-thumbnail {
    border: 3px solid $darkGrey350;
    flex: 0 0 120px;
    transition: all 300ms ease;

    .fit {
      object-fit: cover;
    }
  }

  &:hover,
  &:focus {
    .story-info .feed-story-title a {
      color: $red350;
    }

    .story-thumbnail {
      border-color: $red350;
    }
  }

  @media (min-width: $g-m) {
    padding-bottom: $b-space-6;
    row-gap: $b-space-6;

    .story-info {
      .feed-story-title {
        font-size: $b-fontSize-h2;
      }
    }

    .story-thumbnail {
      flex-basis: 240px;
    }
  }
}
